body{
    background-color: #e6ccf4;
    margin: 0px;
}
#wrapper{
    width: 960px;
    background-color: #d6ccf4;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: #efccf4;
    height: 150px;
    position: relative ;
}
header img{
    width: 100px;        
    position: relative;  
    top: 0;
    left: 0;
    display: block;
    margin: 10px 0 0 10px; 
}

#topLinks{
    position: absolute;
    width: 500px;
    top: 100px;
    right: 10px;
}
#topLinks li{
    display: inline-block;
    padding-left: 10px; 
    padding-right: 10px;
}

a:link{
    color: rgb(255, 0, 85);
    text-decoration: none;
}
a :visited{
    color: #e6ccf4;
}
a :hover{
    color: #e6ccf4;
}
.currentPage{
    color: #efccf4;
    border-bottom: solid thin #e6ccf4;
}
.clearFix{
    clear: both;
}
main{
    background-image: url();
}
#homeInfo{
    background-color: #e6ccf4;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
}
h1{
    font-size: 2em; 
    color: white; 
    padding-left: 30px;
    border-bottom: solid thin #ee4a09; 
    padding-bottom: 15px;
    margin: 0Ïùå;
}
h2{
    font-size: 1.5em; 
    font-weight: lighter; 
    letter-spacing: 10px;
    margin: Opx;
    padding-left: 30px;
}
p{
    font-size: 1em; 
    padding-left: 30px;
}
footer{
    text-align: center;
    color: rgb(209, 29, 29); 
    font-size: 0.7em; 
    padding-top: 10px; 
    padding-bottom: 5px;
}
#bottomLinks li{
    display: inline-block; 
    padding-left: 10px; 
    padding-right: 10px;
}
/* Responsive Design - Mobile */
@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }
    
    header {
        padding: 10px 5px;
    }
    
    header img {
        height: 50px;
    }
    
    header h1 {
        font-size: 1.25rem;
        padding: 0 5px;
    }
    
    nav ul {
        gap: 5px;
    }
    
    nav a {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    
    main {
        padding: 20px 10px;
    }
    
    main h1 {
        font-size: 1.5rem;
    }
    
    main h2 {
        font-size: 1.25rem;
    }
    
    main h3 {
        font-size: 1.1rem;
    }
    
    main p {
        font-size: 0.95rem;
    }
    
    main ul {
        padding-left: 25px;
        font-size: 0.9rem;
    }
    
    footer {
        padding: 15px 10px;
        font-size: 12px;
    }
    
    footer ul {
        flex-direction: column;
        gap: 10px;
    }
}
.accordion-btn {
    background-color: #efccf4;
    color: #333;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 1.1em;
    transition: background 0.3s;
    margin-bottom: 5px;
    border-radius: 5px;
}

.accordion-btn:hover {
    background-color: #d6b3f4;
}

.accordion-content {
    padding: 0 15px;
    display: none;
    overflow: hidden;
    background-color: #f4e6ff;
    border-left: 3px solid #ee4a09;
    border-radius: 0 5px 5px 5px;
}

